@tailwind base;

@tailwind components;

@tailwind utilities;

html,
body {
	min-height: 100vh;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

main {
	@apply absolute w-full h-full;
}

.btn {
	@apply rounded px-4 py-2 font-semibold text-white bg-blue-500 transition-colors duration-300 ease-in-out;
}

.btn:hover {
	@apply bg-blue-400;
}

.btn:active {
	@apply bg-blue-600;
}

.btn:disabled {
	@apply text-gray-500 bg-blue-600 cursor-default;
}

.inpt {
	@apply border px-4 py-2 rounded;
}

.a {
	@apply text-blue-500 underline transition-colors duration-300 ease-in-out;
}

.a:hover {
	@apply text-blue-400;
}
