@tailwind base;

@tailwind components;

@tailwind utilities;

html,
body {
	min-height: 100vh;
}

#sapper {
	display: grid;
	grid-template-rows: 1fr 0 auto;
	grid-template-columns: 1fr;
}

main:nth-child(2) {
	display: none;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.btn {
	@apply rounded px-4 py-2 font-semibold text-white bg-blue-500 transition-colors duration-300 ease-in-out;
}

.btn:hover {
	@apply bg-blue-400;
}

.btn:active {
	@apply bg-blue-600;
}

.btn:disabled {
	@apply text-gray-500 bg-blue-600 cursor-default;
}

.btn-err {
	@apply bg-red-500;
}

.btn-err:hover {
	@apply bg-red-400;
}

.btn-err:active {
	@apply bg-red-600;
}

.btn-err:disabled {
	@apply bg-red-600;
}

.inpt {
	@apply border px-4 py-2 rounded;
}

.a {
	@apply text-blue-500 underline transition-colors duration-300 ease-in-out;
}

.a:hover {
	@apply text-blue-400;
}
